<!-- app/views/shared/_navigation.html.erb -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Employees</a>
    </div>
	<ul class="nav navbar-nav navbar-right">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
	    <ul class="dropdown-menu" role="menu">
	      <li><a href="#">Login</a></li>
	      <li class="divider"></li>
	      <li><%= link_to 'Employees', employees_path %></li>
	      <li><%= link_to 'New employee', new_employee_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to 'Contracts', contracts_path %></li>
	      <li><%= link_to 'New contract', new_contract_path %></li>
	    </ul>
	  </li>
	</ul>    
  </div>
</nav>